!!!5
html
    // include standard HTML head section
    include includes/head
    body
        div(data-role='page', id='home')
            // header
            div(data-role='header')
                h1 Welcome
            // content
            div(data-role='content')
                // show some text
                h2 Welcome #{username}!!
                h4 Welcome to CloudSpokes! Imagine some really cool content here on congratulating you on signing up and your next steps.
                h4 Perhaps we should show the list of currently open challenges?